* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    font-size: small;
    margin-left: 100px;
    margin-right: 100px;
}

.bigBox {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.bigBox p {
    color: rgb(233, 208, 18);
}

.smallBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.smallBox a {
    color: rgb(143, 98, 233);
}

.smallBox a {
    margin: 0 20px;
    text-decoration: none;
}

.titre {
    font-size: 90pt;
    font-weight: 600;
    text-align: center;
}

.sous-titre {
    font-size: 60pt;
    font-weight: 600;
    text-align: center;
}

span {
    color: red;
}

header {
    list-style-type: none;
    display: inline;
}

.header li {
    display: inline;
}

.bigBox button {
    background-color: rgb(143, 98, 233);
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    border-width: 0;
}

.grid {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1.58fr 1.58fr 1fr 1fr 1fr;
    gap: 30px;
}

.grid button {
    background-color: rgb(143, 98, 233);
    color: white;
    border-radius: 60px;
    height: 70px;
    width: 452px;
    font-size: 20pt;
    border-width: 0;
}

img {
    max-width: 100%;
}

.portfolio {
    grid-column-start: 4;
    grid-column-end: 6;
    align-self: end;
}

.grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.card2 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.card3 {
    grid-column-start: 5;
    grid-row-start: 2;
}

.card4 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.card5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    border: 1px solid red;
}

.card6 {
    grid-column-start: 5;
    grid-row-start: 3;
}

.card7 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.button1 {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
}

.columns {
    display: flex;
}

.support {
    margin-top: 10px;
}

.columns button {
    background-color: white;
    color: rgb(143, 98, 233);
    border-radius: 10px;
    border-width: 0.5px;
    height: 30px;
    width: 120px;
}